
:root {
	--color-darkest: #17252A;
	--color-dark: #2B7A78;
	--color-main: #3AAFA9;
	--color-light: #DEF2F1;
	--color-lightest: #FEFFFF;
}



body {
	font-family: 'Consolas';
	color: var(--color-darkest);
	background-color: var(--color-lightest);
}

.me {
	border-radius: 50%;
	max-width: 128px;
	max-height: 128px;
}

.txt-lrgr {
	font-size: 4em;
}

.txt-lrg {
	font-size: 3em;
}

.txt-md {
	font-size: 1.5em;
}

.txt-sm {
	font-size: 1em;
}

.jumbotron {
	margin: 0px auto;
	padding: 0px;
	background-color: var(--color-light);
}

.name-title {
	font-family: 'Courier New';
	font-weight: lighter;
	line-height: 95%
}

.row-header {
	position: relative;
	background-color: var(--color-light);
	margin: 0px auto;
}

.contact-btn {
	position: absolute;
	height: 100%;
	right: 0;
	top: 0;
	display: block;
	border-radius: 0;
	color: var(--color-darkest)
}
.contact-btn:hover {
	background-color: var(--color-darkest);
	color: var(--color-light)
}


